/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	max-width: 1140px;
	margin:50px auto;
	display: flex;
	justify-content: space-between;
}

main {
	max-width: 1140px;
	margin:auto;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}


/** Titre de la Modal **/

h3{
	font-family: 'Work Sans';
	font-size: 26px;
	color: black;
	text-align: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li a {
	text-decoration: none;
	color: black;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a:hover {
	color: #B1663C;
}

/** BARRE NOIRE MODE EDITION **/

.black-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: black;
	color: white; 
	gap: 10px;
}

/** INTRO **/

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/** MODE EDITION **/

.edit-projet {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	column-gap: 30px;
}

.edit-icon {
	display: flex;
	color: black;
	column-gap: 10px;
}

.edit-icon a {
	text-decoration: none;
	color: black;
}



/** FILTRES **/

.filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px 0px;
}

.filtres button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1.2em;
	color: #1D6154;
	background-color: #FFFEF8;
	border: solid 1px #1D6154;
	height: 50px;
	text-align: center;
	border-radius: 60px ;
	min-width: 120px;
	padding: 0px 15px;
}

.btn-tous.active {
	background-color: #1D6154; 
	color: #FFFEF8;              
  }
  
.filtres button.active {
	background-color: #1D6154; 
	color: #FFFEF8;      
  }

/** MODE EDITION **/

.not-displayed {
	display: none;
}

/** GALLERY **/

.gallery { 
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img { 
	width: 100%;

}

/** CONTACT, LOGIN **/

#contact,
#login {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#login > * {
	text-align: center;
}
#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#login h2{
	margin-top: 120px;
}

#contact form, 
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#login a {
	color:black;
	text-align: center;
	margin-bottom: 250px;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/** MESSAGE D'ERREUR DANS LOGIN**/

#error_message {
    color: #B1663C;
    font-weight: 700;
    display: block;
    margin-top: 10px;
	margin-bottom: 20px;
}

/** FOOTER **/

footer {
	display: flex;
	background-color: white;
	justify-content: flex-end;
}

footer nav ul {
	margin: 2em;
}

footer nav li {
	font-size: 0.875em;
	font-weight: 300;
}

/** MODAL **/

.modal {
	position: fixed;  
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
}

.modal-content,
.modal-ajout {
	width: 630px;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	display: none;
	flex-direction: column;
	align-items: center;
}

.close-modal {
	position: relative;
	left: 290px;
	color: black;
	background: white;
	border: none;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	margin-bottom: 20px; 
}

.goback-modal {
	position: relative;
	right: 290px;
	color: black;
	background: white;
	border: none;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.modal-gallery {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-top: 50px;
}

.modal-gallery img {
	width: 100%;
}

.bin-button {
	display: flex;
	align-items: center;
  	justify-content: center;
	background-color: black;
	color: white;
	height: 17px;
	border: none;
	padding: 10px 4px;
	position: relative;
	left: 62px;
	bottom: 110px;
}

.modal-button button {
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	border: solid 1px #1D6154;
	width: 240px;
	margin-bottom: 20px;
}

.modal-button :disabled {
	background-color: #A7A7A7;
	border-color: #A7A7A7;
}

/** MODAL 2 **/

.modal-add-photo {
	width: 450px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 40px;
}

.image-max-label {
	position: relative;
  	left: 180px;
  	bottom: 30px;
  	font-size: 10px;
  	color: #444444;
}

.btn-image {
	width: 170px;
	height: 36px;
	background-color: #cbd6dc;
	color: #306685;
	border-radius: 50px;
	border: none;
	z-index: 0;
	position: relative;
	overflow: hidden;
	left: 145px;
	bottom: 85px;
	font-family: Work Sans;
}

.image-upload-input { /*Browse...*/
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.img-background {
	background-color:#E8F1F6;
	width: 450px;
	height: 170px;
}

.img-preview {
	width: 450px;
	height: 170px;
	object-fit: scale-down;
}

.form-input {
	height: 50px;
  	border: none;
  	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}

.form-select {
	height: 50px;
  	border: none;
	background-color: white;
  	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}

select,
select option {
	font-family: Work Sans;
}

.modal-line {
	width: 70%;
    height: 1px;
    background-color: #B3B3B3;
    margin-top: 40px;
	margin-bottom: 40px;
}



/** NOTIFICATION ***/

.notification {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #1D6154;
	color: #FFFEF8;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	z-index: 1000; 
	opacity: 0.9;
  }